<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button mat-button class="menu-button">
      <span>Home</span>
    </button>
    <button mat-button class="menu-button">
      <span>Services</span>
    </button>
    <button mat-button class="menu-button">
      <span>News</span>
    </button>
    <button mat-button class="menu-button">
      <span>Blog</span>
    </button>
    <button mat-button class="menu-button">
      <span>Contact</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="banner">
        <a href="ncc.jpg">
          <img src="ncc.jpg" width=310px height=122px;>
        </a>
      </div>

      <div class="group1">
        <h1>Lorem ipsum dolor sit</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam tempora
          natus nemo error quis vel et blanditiis inventore tenetur earum ipsam,
          rerum dolor perferendis officiis voluptatem maiores molestiae?
          Mollitia, voluptas! Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Autem accusantium obcaecati sequi inventore deserunt itaque
          numquam officiis veritatis quia esse aperiam quam eveniet maiores nisi
          earum iste, dolore dolorum suscipit!
        </p>
      </div>
      <div class="row">
        <div class="column side">
          <h2>Lorem ipsum dolor sit amet,</h2>
          <div class="col" style="float:left;">
            <a href="html.jpg">
              <img src="html.jpg" width="128px" height="128px">
            </a>
            <div class="text-1" >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
              sit amet pretium urna. Vivamus venenatis velit nec neque ultricies,
              eget elementum magna tristique. Quisque vehicula, risus eget aliquam
              placerat, purus leo tincidunt eros, eget luctus quam orci in velit.
              Praesent scelerisque tortor sed accumsan convallis.
            </div>
          </div>

          <div class="text"  style="padding-left: 133px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            sit amet pretium urna. Vivamus venenatis velit nec neque ultricies,
            eget elementum magna tristique. Quisque vehicula, risus eget aliquam
            placerat, purus leo tincidunt eros, eget luctus quam orci in velit.
            nmss,sllslsssssdldld dlldldl
          </div>

        </div>

        <div class="column middle">
          <h2>Lorem ipsum dolor sit amet,</h2>
          <div class="col" style="float: left;">
            <a href="html.jpg">
              <img src="html.jpg" width="128px" height="128px">
            </a>
            <div class="text-1"  >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
              sit amet pretium urna. Vivamus venenatis velit nec neque ultricies,
              eget elementum magna tristique. Quisque vehicula, risus eget aliquam
              placerat, purus leo tincidunt eros, eget luctus quam orci in velit.
              Praesent scelerisque tortor sed accumsan convallis.
            </div>
          </div>

          <div class="text" style="padding-left: 133px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            sit amet pretium urna. Vivamus venenatis velit nec neque ultricies,
            eget elementum magna tristique. Quisque vehicula, risus eget aliquam
            placerat, purus leo tincidunt eros, eget luctus quam orci in velit.
            nmss,sllslsssssdldld dlldldl
          </div>

        </div>

        <div class="column side">
          <h2>Lorem ipsum dolor sit amet,</h2>
          <div class="col" style="float:left;">
            <a href="html.jpg">
              <img src="html.jpg" width="128px" height="128px">
            </a>
            <div class="text-1"  >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
              sit amet pretium urna. Vivamus venenatis velit nec neque ultricies,
              eget elementum magna tristique. Quisque vehicula, risus eget aliquam
              placerat, purus leo tincidunt eros, eget luctus quam orci in velit.
              Praesent scelerisque tortor sed accumsan convallis.
            </div>
          </div>
          <div class="text"  style="padding-left: 133px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            sit amet pretium urna. Vivamus venenatis velit nec neque ultricies,
            eget elementum magna tristique. Quisque vehicula, risus eget aliquam
            placerat, purus leo tincidunt eros, eget luctus quam orci in velit.
            nmss,sllslsssssdldld dlldldl
          </div>
        </div>
      </div>
      <footer style="border: 1px solid #DEDEDE;">
        <div class="fo">Copyright © 2021</div>
      </footer>
    </div>


  </mat-sidenav-content>

</mat-sidenav-container>

